---
name: Build baseimage

on:
  push:
    paths:
      - baseimage/Dockerfile
      - baseimage/Dockerfile.wine
      - .github/workflows/baseimage.yml

  workflow_dispatch: null

jobs:
  ubuntu:
    name: Build ubuntu
    strategy:
      matrix:
        include:
          - version: '22.04'
          - version: '24.04'
    uses: ./.github/workflows/buildx.yml
    with:
      context: baseimage
      baseimage: ubuntu:${{ matrix.version }}
      tags: |
        ${{ vars.REGISTRY }}/${{ vars.REGISTRY_USER }}/baseimage:ubuntu-${{ matrix.version }}
      args: |-
        MIRROR=${{ vars.MIRRORS }}
    secrets: inherit

  alpine:
    name: Build alpine
    strategy:
      matrix:
        include:
          - version: '3'
    uses: ./.github/workflows/buildx.yml
    with:
      context: baseimage
      baseimage: alpine:${{ matrix.version }}
      tags: |
        ${{ vars.REGISTRY }}/${{ vars.REGISTRY_USER }}/baseimage:alpine-${{ matrix.version }}
      args: |-
        MIRROR=${{ vars.MIRRORS }}
    secrets: inherit

  make-latest:
    runs-on: ubuntu-latest
    needs:
      - ubuntu
      - alpine
    steps:
      # need to login and setup registry again
      - name: Login
        uses: docker/login-action@v3
        if: ${{ vars.REGISTRY != 'lcr.io' }}
        with:
          registry: ${{ vars.REGISTRY }}
          username: ${{ vars.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_TOKEN }}

      - name: Setup buildx
        uses: docker/setup-buildx-action@v3
        if: ${{ vars.REGISTRY == 'lcr.io' }}
        with:
          buildkitd-config-inline: |
            debug = true
            [registry."${{ vars.REGISTRY }}"]
              http = true

      - name: Tag latest
        run: |-
          set -ex
          # ubuntu
          docker buildx imagetools create                                                \
                  ${{ vars.REGISTRY }}/${{ vars.REGISTRY_USER }}/baseimage:ubuntu-24.04  \
            --tag ${{ vars.REGISTRY }}/${{ vars.REGISTRY_USER }}/baseimage:ubuntu-latest

          # alpine
          docker buildx imagetools create                                                \
                  ${{ vars.REGISTRY }}/${{ vars.REGISTRY_USER }}/baseimage:alpine-3      \
            --tag ${{ vars.REGISTRY }}/${{ vars.REGISTRY_USER }}/baseimage:alpine-latest

  wine:
    name: Build wine
    needs:
      - make-latest
    strategy:
      matrix:
        include:
          - version: '11.0'
    uses: ./.github/workflows/buildx.yml
    with:
      context: baseimage
      platforms: linux/amd64
      dockerfile: baseimage/Dockerfile.wine
      baseimage: ${{ vars.REGISTRY }}/${{ vars.REGISTRY_USER }}/baseimage:ubuntu-latest
      tags: |
        ${{ vars.REGISTRY }}/${{ vars.REGISTRY_USER }}/baseimage:wine-${{ matrix.version }}
        ${{ vars.REGISTRY }}/${{ vars.REGISTRY_USER }}/baseimage:wine-latest
      args: |-
        MIRROR=${{ vars.MIRRORS }}
    secrets: inherit
