---
name: docker buildx job

on:
  workflow_call:
    inputs:
      runner:
        description: 'runs-on which runner'
        required: false
        type: string
        default: 'ubuntu-latest'
      platforms:
        description: 'build for platforms'
        required: false
        type: string
      context:
        description: 'where to start docker buildx'
        required: false
        type: string
        default: '.'
      dockerfile:
        description: 'path to Dockerfile'
        required: false
        type: string
      baseimage:
        description: 'FROM which baseimage'
        required: false
        type: string
        default: 'ubuntu:latest'
      tags:
        description: 'multi-line tags'
        required: true
        type: string
      args:
        description: 'for --build-arg'
        required: false
        type: string

    secrets:
      REGISTRY_TOKEN:
        required: false

env:
  platforms: linux/amd64,linux/arm64

jobs:
  build-and-push:
    runs-on: ${{ inputs.runner }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: false
          fetch-depth: 1

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Login
        env:
          password: ${{ secrets.REGISTRY_TOKEN }}
        if: ${{ env.password != '' }}
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.REGISTRY }}
          username: ${{ vars.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_TOKEN }}

      - name: Setup buildx
        if: ${{ vars.LOCAL_REGISTRY == '' }}
        uses: docker/setup-buildx-action@v3

      - name: Setup buildx (local registry)
        if: ${{ vars.LOCAL_REGISTRY }}
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-config-inline: |
            debug = true
            [registry."${{ vars.LOCAL_REGISTRY }}"]
              http = true
            [registry."registry.${{ vars.LOCAL_REGISTRY }}"]
              http = true
            [registry."ghcr.${{ vars.LOCAL_REGISTRY }}"]
              http = true
            [registry."lscr.${{ vars.LOCAL_REGISTRY }}"]
              http = true
            [registry."docker.io"]
              mirrors = ["registry.${{ vars.LOCAL_REGISTRY }}"]
              http = true
            [registry."ghcr.io"]
              mirrors = ["ghcr.${{ vars.LOCAL_REGISTRY }}"]
              http = true
            [registry."lscr.io"]
              mirrors = ["lscr.${{ vars.LOCAL_REGISTRY }}"]
              http = true

      - name: Prepare
        id: prepare
        shell: bash
        run: |
          set -ex
          first_tag=$(echo "${{ inputs.tags }}" | head -n1)
          echo "first_tag=$first_tag" >> $GITHUB_OUTPUT

          if test -n "${{ inputs.platforms }}"; then
            echo "platforms=${{ inputs.platforms }}" >> $GITHUB_OUTPUT
          else
            echo "platforms=${{ env.platforms }}" >> $GITHUB_OUTPUT
          fi

          echo "cachebust=$(date +%Y-%m-%dT%H:%M:%S)" >> $GITHUB_OUTPUT

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: ${{ inputs.context }}
          file: ${{ inputs.dockerfile }}
          platforms: ${{ steps.prepare.outputs.platforms }}
          provenance: false
          sbom: false
          build-contexts: |
            ubuntu:latest=docker-image://${{ inputs.baseimage }}
            baseimage:latest=docker-image://${{ inputs.baseimage }}
          tags: |
            ${{ inputs.tags }}
          build-args: |
            ${{ inputs.args }}
            CACHEBUST=${{ steps.prepare.outputs.cachebust }}
          cache-from: type=registry,ref=${{ steps.prepare.outputs.first_tag }}-cache
          cache-to: type=registry,ref=${{ steps.prepare.outputs.first_tag }}-cache,mode=max
