---
name: update revisions

on:
  schedule:
    - cron: '0 0 * * *'  # daily

  workflow_dispatch: null

jobs:
  try-update-revisions:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: false
          fetch-depth: 1
          token: ${{ secrets.COMMIT_TOKEN }}

      - name: Prepare
        shell: bash
        run: |
          pwd -P

          git config --global user.name "bot"
          git config --global user.email "bot@mtdcy.top"

      - name: Update Nginx
        run: |-
          set -ex

          IFS='=.' read -r m n r <<< "$(yq '.env.nginx' .github/workflows/nginx.yml)"

          # update revision
          if curl --fail -sIL -o /dev/null https://nginx.org/download/nginx-$m.$n.$((r+1)).tar.gz; then
            r=$((r+1))
          # update minor
          # elif curl --fail -sIL -o /dev/null https://nginx.org/download/nginx-$m.$((n+1)).0.tar.gz; then
          #   n=$((n+1))
          #   r=0
          else
            exit 0
          fi

          curl --fail -sL https://nginx.org/en/CHANGES-$m.$n -o nginx/NGX_CHANGES ||
          curl --fail -sL https://nginx.org/en/CHANGES -o nginx/NGX_CHANGES || true

          sed -i .github/workflows/nginx.yml \
            -e "/ *nginx *:[ 0-9.]\+/s/:.*$/: $m.$n.$r/"
          message="update nginx => $m.$n.$r"

          # geoip2
          IFS='.' read -r m n <<< "$(yq '.env.geoip2' .github/workflows/nginx.yml)"
          if curl --fail -sIL -o /dev/null https://github.com/leev/ngx_http_geoip2_module/archive/$m.$((n+1)).tar.gz; then
            n=$((n+1))
            sed -i "s/geoip2:.*$/geoip2: $m.$n/" .github/workflows/nginx.yml
            message="$message/geoip2=> $m.$n"
          fi

          # fancyindex
          IFS='.' read -r m n r <<< "$(yq '.env.fancyindex' .github/workflows/nginx.yml)"
          if curl --fail -sIL -o /dev/null https://github.com/aperezdc/ngx-fancyindex/archive/v$m.$n.$((r+1)).tar.gz; then
            r=$((r+1))
            sed -i "s/fancyindex:.*$/fancyindex: $m.$n.$r/" .github/workflows/nginx.yml
            message="$message/fancyindex => $m.$n.$r"
          fi

          git add nginx .github/workflows/nginx.yml
          git commit -m "$message" || exit 0

      - name: Update Go for builder
        run: |-
          set -ex

          goversion=$(curl -s "https://go.dev/VERSION?m=text" | grep "^go")

          for target in amd64 arm64; do
            test -f builder/resources/linux/$target/$goversion.linux-$target.tar.gz && continue
            rm -rf builder/resources/linux/$target/go* || true

            curl -fsSL -o builder/resources/linux/$target/$goversion.linux-$target.tar.gz \
              https://go.dev/dl/$goversion.linux-$target.tar.gz
          done

          git add builder
          git commit -m "update $goversion" || exit 0

      - name: Update Node.js for builder
        run: |-
          set -ex

          # LTS: v24
          IFS=' ' read -r version _ < <(curl -sL https://nodejs.org/dist/index.tab | grep -oE "^v24[0-9.]+" -m1)

          # arm64
          name="node-$version-linux-arm64.tar.xz"
          (
            pushd builder/resources/linux/arm64
            test -f "$name" || {
              rm -f node-* || true
              curl -fsSL -o "$name" "https://nodejs.org/dist/$version/$name"
              git add .
            } || true
            popd
          ) || true

          # amd64
          name="node-$version-linux-x64.tar.xz"
          (
            pushd builder/resources/linux/amd64
            test -f "$name" || {
              rm -f node-* || true
              curl -fsSL -o "$name" "https://nodejs.org/dist/$version/$name"
              git add .
            } || true
            popd
          ) || true

          git add builder
          git commit -m "update node => $version" || exit 0

      - name: Commit
        shell: bash
        run: |-
          git push
